*{
    margin: 0;
}
ul{
    list-style: none;
}
// 顶部小图标
.topHead{
    width: 100vm;
    height: 28px;
    overflow: hidden;
    background-image: linear-gradient(0deg,#efefef 0%,#fbfbfb 54%,#ffffff 100%),
	linear-gradient(#ffffff, #ffffff);
    .contaner{
        width: 990px;
        height: 28px;
        margin: 0 auto;
        // border: 1px solid red;
        display: flex;
        justify-content: space-between;
        div{
            width: 1%;
        }
        ul{
            list-style: none;
            height: 28px;
            display: flex;
            padding: 3px 0 2px;
            align-items: center;
            li{
                padding: 0 10px;
                font-size: 12px;
                line-height: 28px;
                color: #666666;
                display: flex;
                align-items: center;
                // border: 1px solid red;
                a{
                    text-decoration: none;
                    color: #666666;
                }
            }
            li:nth-child(3){
                padding: 0 9px 0 10px;
            }
            li:nth-child(4){
                padding: 0;
                width: 1px;
                height: 12px;
                background-color: #666666;
            }
            li:nth-child(5){
                padding: 0 10px 0 20px;
            }
            li:nth-child(6){
                padding: 0;
                width: 1px;
                height: 12px;
                background-color: #666666;
            }
            li:last-child{
                padding-right: 0;
            }
        }
    }
}
// logo区域
.head{
    width: 100vm;
    height: 93px;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 2px solid #414141; 
    // 导航栏
    .contaner{
        width: 990px;
        height: 93px;
        margin: 0 auto;
        // border: 1px solid red;
        display: flex;
        align-items: center;
        // border: 1px solid red;
        .logo{
            margin: 0 9px;
            width: 215px;
            height: 49px;
            background-image: url(../images/ticket/logo.png);
            background-position: center center;
            background-repeat: no-repeat;
        }
        .city{
            ul{
                list-style: none;
                margin: 0 16px;
                padding: 0;
                .choose{
                    font-size: 22px;
                    color: #000000;
                    font-weight: bold;
                    height: 22px;
                    margin-bottom: 8px;
                }
                .replace{
                    font-size: 12px;
                    height: 13px;
                    color: #666666;
                }
            }
        }
    }
}
// 头部导航
nav{
    width: 100vm;
    height: 40px;
    background-image: 
    linear-gradient(0deg,#5a5454 0%,#736f6f 43%,#8b898a 100%),
    linear-gradient(#414141,#414141);
    overflow: hidden;
    .contaner{
        width: 990px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        // align-items: center;
        overflow: hidden;
        // border: 1px solid; 
        justify-content: space-between;
        ul{
            display: flex;
            // border: 1px solid red;
            height: 40px;
            padding: 0;
            align-items: center;
            li{
                a{
                    padding: 13px 30px;
                    font-size: 14px;
                    color: #f8e8e8;
                    text-decoration: none;
                }
                a:hover{
                    background-color: #e60020;
                }
            }
            // li:nth-child(4) a{
                // background-color: #e60020;
            // }
        }
        .input{
            position: relative;
            line-height: 35px;
            .search{
                width: 240px;
                height: 28px;
                border: 0;
                font-size: 12px;
                color: #000000;
            }
            .mirror{
                position: absolute;
                top: 5px;
                right: 0;
                width: 34px;
                height: 29px;
                border: 0;
                background-color: #4b4b4b;
                color: #ffffff;
            }
        }
    }
}
// 核心内容
.core_content{
    width: 100vm;
    text-align: center;
    padding: 15px 0;
    .centered_content{
        width: 990px;
        margin: 0 auto;
    }
    .benner{
        width: 100%;
        height: 80px;
        background-image: url(../images/ticket/benner.png);
        margin-bottom: 18px;
    }
    .Interaction{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .aside{
            width: 230px;
            height: 433px;
            // border: 1px solid;
            position: relative;
            background-color: #aaaaaa;
            padding: 10px;
            overflow: hidden;
            // 盖住右上角的三角形
            .angle{
                border: 25px solid transparent;
                border-top: 25px solid white;
                position: absolute;
                top: 0;
                right: -25px;
            }
            // 顾客互动
            .h4{
                font-size: 17px;
                text-align: left;
                color: #333333;
                height: 18px;
                margin: 0;
                padding-left: 6px;
            }
            // 字母
            .p{
                font-size: 11px;    
                color: #d5d5d5;
                text-align: left;
                height: 9px;
                padding-left: 4px;
            }
            // 导航条
            .aside_box{
                width: 210px;
                // height: 371px;
                background-color: white;
                padding: 0 5px;
                // a标签样式
                .aside_box_a {
                    height: 40px;
                    font-size: 14px;
                    border-bottom: 1px solid #d2d2d2;
                    text-align: left;
                    color: #666666;
                    border-radius: 0;
                    padding-left: 36px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                // a标签导航按钮点击样式
                .nav-link.active{
                    background-color: white;
                    color: #e50020;
                }
                // 两个按钮
            }
            .button_group{
                width: 100%;
                height: 211px;
                // border: 1px solid red;
                background-color: white;
                padding: 18px 19px;
                .button_box{
                    width: 165px;
                    height: 50px;
                    margin-bottom: 10px;
                    background-color: #a9a9a9;
                    border-radius: 4px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    // a标签
                    a{
                        height: 50px;
                        line-height: 50px;
                        overflow: hidden;
                        color: #f7f7f7;
                    }
                    // a标签hover效果
                    a:hover{
                        text-decoration: none;
                        color: #f0343c;
                    }
                    // 字体图标
                    a:first-child{
                        width: 50px;
                        border-right: 1px solid #7a7a7a;
                        // background-color: #808080;
                        img{
                            opacity: 0.5;
                        }
                    }
                    // 超链接
                    a:last-child{
                        width: 112px;
                        border-left: 1px solid #b6b6b6;
                        display: flex;
                        align-items: center;
                        h6{
                            margin: 0;
                            padding: 0;
                            font-size: 12px;
                            text-align: left;
                            padding-left: 3px;
                            p{
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
                // 第二个框的下外边距
                .button_box:nth-child(2){
                    margin-bottom: 24px;
                }
            }
        }
        // 右侧交互区域
        .article{
            width: 720px;
            // border: 1px solid;
            text-align: left;
            overflow-x: hidden;
            // 导航：常见问题
            .question_title_box{
                width: 720px;
                padding: 8px 0;
                // 标题
                .question_title{
                    font-size: 15px;
                    color: #999999;
                    // height: 18px;
                    // border: 1px solid red;
                    margin-bottom: 10px;
                }
                // 横线
                .horizontal_line{
                    width: 100%;
                    height: 3px;
                    background-color: #999999;
                    overflow: hidden;
                    // 小横线
                    .small_horizontal{
                        width: 70px;
                        height: 3;
                        background-color: #f0343c;
                        z-index: 10;
                    }
                }
                // 问题盒子
                .question_box{
                    margin-top: 10px;
                    // 内容
                    .problem_plate{
                        // height: 112px;
                        width: 720px;
                        // border: 1px solid red;
                        margin-bottom: 10px;
                        overflow-x: hidden;
                        // .one{
                            .grid{
                                height: 600px;
                                // border: 1px solid red;
                                font-size: 12px;
                                padding: 5px 10px;
                                overflow-x: hidden;
                                .btn-primary{
                                    margin: 0;
                                    // padding: 0;
                                    width: 100%;
                                    text-align: left;
                                    background-color: white;
                                    border: 0;
                                    color: #444444;
                                    font-size: 12px;
                                    font-weight: bold;
                                    border-bottom: 1px solid #e7e7e7;
                                    padding-bottom: 10px;
                                    span{
                                        background-color: #949494;
                                        color: #ffffff;
                                        padding: 1px 3px;
                                        border-radius: 2px;
                                        margin-right: 4px;
                                    }
                                }
                                .btn:focus{
                                    box-shadow: 0 0 0 0.2rem white;
                                }
                                .p{
                                    padding: 5px 12px;
                                    background-color: #fafafa;
                                    span{
                                        background-color: #6499c5;
                                        color: #ffffff;
                                        padding: 1px 4px;
                                        border-radius: 2px;
                                        margin-right: 4px;
                                    }
                                }
                            }
                        // }
                    }
                    // 分页按钮
                    .pagination_box{
                        width: 100%;
                        .pagination{
                            margin: 0;
                            // border: 1px solid red;
                            padding-left: 30px;
                            .pagination_li{
                                font-size: 12px;
                                padding: 6px 14px;
                                margin: 0 7px;
                                box-sizing: border-box;
                                border: 1px solid #d1d1d1;
                                cursor: pointer;
                                .fa-caret-left{
                                    margin-right: 5px;
                                }
                                .fa-caret-right{
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//底部
   //小名片
   .tail{
    width: 100vm;
    height: 201px;
    background-color: #ededed;
    padding: 19px;
    .box{
        width: 990px;
        margin: 0 auto;
        // border: 1px solid red;
        display: flex;
        justify-content: space-evenly;
        .businessCard{
            width: 121px;
            .icon{
                span{
                    font-size: 16px;
                    font-weight: bold;
                    color: #333333;
                    vertical-align: bottom;
                }
            }
            .box_text{
                p{
                    margin: 0;
                    padding: 0;
                    a{
                        font-size: 12px;
                        color: #666666;
                    }
                }
            }
        }
    }
}
footer{
    width: 100vm;
    height: 93px;
    background-color: #b9b9b9;
    text-align: center;
    padding: 15px;
    p{
        margin: 0;
        padding: 3px;
    }
}



// 返回顶部图标
.return{
    width: 50px;
	height: 50px;
    position: fixed;
    top: 45vh;
    right: 42vh;
    border-radius: 4px;
    background-color: #f0343c;
    text-align: center;
    span{
        font-size: 12px;
        color: #fefcfc;
    }
    .cross{
        height: 3px;
        // height: 28px;
        width: 28px;
        margin: 0 auto;
        background-color: white;
    }
    .triangle{
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom: 8px solid white;
        margin: auto;
    }
    .rectangular{
        width: 5px;
        height: 10px;
        background-color: white;
        margin: 0 auto;
    }
}
