body {
    margin: 0;
}

.content {
    max-width: 750px;
    width: 7.5rem;
    height: 2.7rem;
    background-image: url(../images/common/titlebg.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;

    // justify-content: center;
    span {
        font-size: 0.35rem;
        color: #f2f2f2;
        display: block;
        margin-left: 0.44rem;
        margin-top: 1.25rem;
    }

    p {
        font-size: 0.36rem;
        margin: 0rem;
        color: #f2f2f2;
        margin-left: 0.38rem;
        margin-top: 0.38rem;
    }
}

.ipt_content {
    // 文本标签间会产生距离，即行间距，设置父元素font-size为0px可以消除
    font-size: 0px;
    max-width: 750px;
    width: 100%;
    padding: 0.48rem 0.4rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;

    p {
        font-size: 0.24rem;
        color: #666666;
        margin: 0;
        margin-bottom: 0.18rem;
        align-self: flex-start;
    }

    input {
        max-width: 670px;
        width: 6.7rem;
        height: 0.96rem;
        margin: 0;
        margin-bottom: 0.52rem;
        outline: 0rem;
        border-radius: 0.16rem;
        box-sizing: border-box;
        border: 1px solid #cccccc;
        font-size: 0.28rem;
        padding-left: 0.28rem;
        letter-spacing: 0.02rem;
    }

    i {
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        color: #000000;
        font-size: 0.3rem;
    }

    .icon1 {
        right: 0.5rem;
        top: 3.3rem;
    }

    .icon2 {
        right: 0.5rem;
        top: 5.3rem;
    }

    button {
        width: 6.7rem;
        height: 0.96rem;
        border-radius: 0.16rem;
        background-color: #4073ff;
        font-size: 0.32rem;
        color: #ffffff;
        border: 0rem;
        outline: 0rem;
    }

}