* {
  margin: 0;
}

ul {
  list-style: none;
}

.topHead {
  width: 100vm;
  height: 28px;
  background-image: linear-gradient(0deg, #efefef 0%, #fbfbfb 54%, #ffffff 100%), linear-gradient(#ffffff, #ffffff);
}

.topHead .contaner {
  width: 990px;
  height: 28px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.topHead .contaner div {
  width: 1%;
}

.topHead .contaner ul {
  list-style: none;
  height: 28px;
  display: flex;
  padding: 3px 0 2px;
  align-items: center;
}

.topHead .contaner ul li {
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
  color: #666666;
  display: flex;
  align-items: center;
}

.topHead .contaner ul li a {
  text-decoration: none;
  color: #666666;
}

.topHead .contaner ul li:nth-child(3) {
  padding: 0 9px 0 10px;
  position: relative;
}

.topHead .contaner ul li:nth-child(3) .quit {
  display: block;
  font-size: 12px;
  color: #333333;
  line-height: 12px;
  height: 30px;
  width: 75px;
  padding-top: 10px;
  position: absolute;
  bottom: -18px;
  right: 0px;
  z-index: 2;
  display: none;
}

.topHead .contaner ul li:nth-child(3):hover .quit {
  display: block;
}

.topHead .contaner ul li:nth-child(3) .quit:hover {
  color: #333333;
  font-weight: bold;
  display: block;
  cursor: pointer;
}

.topHead .contaner ul li:nth-child(4) {
  padding: 0;
  width: 1px;
  height: 12px;
  background-color: #666666;
}

.topHead .contaner ul li:nth-child(5) {
  padding: 0 10px 0 20px;
}

.topHead .contaner ul li:nth-child(6) {
  padding: 0;
  width: 1px;
  height: 12px;
  background-color: #666666;
}

.topHead .contaner ul li:last-child {
  padding-right: 0;
}

.head {
  width: 100vm;
  height: 93px;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid #414141;
}

.head .contaner {
  width: 990px;
  height: 93px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.head .contaner .logo {
  margin: 0 9px;
  width: 215px;
  height: 49px;
  background-image: url(../images/ticket/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.head .contaner .city ul {
  list-style: none;
  margin: 0 16px;
  padding: 0;
}

.head .contaner .city ul .choose {
  font-size: 22px;
  color: #000000;
  font-weight: bold;
  height: 22px;
  margin-bottom: 8px;
}

.head .contaner .city ul .replace {
  font-size: 12px;
  height: 13px;
  color: #666666;
}

nav {
  width: 100vm;
  height: 40px;
  background-image: linear-gradient(0deg, #5a5454 0%, #736f6f 43%, #8b898a 100%), linear-gradient(#414141, #414141);
  overflow: hidden;
}

nav .contaner {
  width: 990px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

nav .contaner ul {
  display: flex;
  height: 40px;
  padding: 0;
  align-items: center;
}

nav .contaner ul li a {
  padding: 13px 30px;
  font-size: 14px;
  color: #f8e8e8;
  text-decoration: none;
}

nav .contaner ul li a:hover {
  background-color: #e60020;
}

nav .contaner .input {
  position: relative;
  line-height: 35px;
}

nav .contaner .input .search {
  width: 240px;
  height: 28px;
  border: 0;
  font-size: 12px;
  color: #000000;
}

nav .contaner .input .mirror {
  position: absolute;
  top: 5px;
  right: 0;
  width: 34px;
  height: 29px;
  border: 0;
  background-color: #4b4b4b;
  color: #ffffff;
}

.core_content {
  width: 990px;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 15px 0;
}

.core_content .title {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #f0343c;
  align-items: center;
}

.core_content .title .rectangular {
  border: 1px solid red;
  width: 90px;
  height: 35px;
  background-color: #f0343c;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  line-height: 35px;
  position: relative;
}

.core_content .title .rectangular .triangle {
  position: absolute;
  border: 15px solid transparent;
  border-top: 15px solid white;
  top: -1px;
  right: -16px;
}

.core_content .title .previous_step {
  font-size: 13px;
  color: #f0343c;
  position: relative;
}

.core_content .title .previous_step img {
  width: 23px;
  height: 10px;
  vertical-align: middle;
}

.core_content .title .previous_step a {
  font-size: 13px;
  color: #f0343c;
  vertical-align: middle;
}

.core_content .title .previous_step a:hover {
  text-decoration: none;
}

.core_content .a_direction {
  width: 100%;
  margin-top: 11px;
  height: 36px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.core_content .a_direction .select_session {
  width: 327px;
  height: 36px;
  background-color: #eaeaea;
  line-height: 36px;
  padding: 0 20px;
  font-size: 14px;
  color: #666666;
  position: relative;
}

.core_content .a_direction .select_session::before {
  content: '';
  display: block;
  border: 18px solid transparent;
  border-left: 18px solid #eaeaea;
  position: absolute;
  top: 0;
  right: -36px;
  z-index: 1;
}

.core_content .a_direction .mobile_phone {
  width: 320px;
  height: 36px;
  background-color: #f57921;
  line-height: 36px;
  padding: 0 36px;
  font-size: 14px;
  color: #ffffff;
  position: relative;
}

.core_content .a_direction .mobile_phone .mobile_phones {
  content: '';
  display: block;
  border: 18px solid transparent;
  border-left: 18px solid #f57921;
  position: absolute;
  top: 0;
  right: -36px;
  z-index: 1;
}

.core_content .a_direction .mobile_phone::after {
  content: '';
  display: block;
  border: 18px solid transparent;
  border-left: 18px solid white;
  position: absolute;
  top: 0;
  left: 0;
}

.core_content .a_direction .confirm_payment {
  width: 320px;
  height: 36px;
  background-color: #ebebeb;
  line-height: 36px;
  padding: 0 38px;
  font-size: 14px;
  color: #666666;
  position: relative;
}

.core_content .a_direction .confirm_payment::after {
  content: '';
  display: block;
  border: 18px solid transparent;
  border-left: 18px solid white;
  position: absolute;
  top: 0;
  left: 0;
}

.core_content #first_box .details_box {
  width: 100%;
  height: 142px;
  border: solid 1px #eaeaea;
  margin-top: 18px;
  display: flex;
  padding-left: 10px;
}

.core_content #first_box .details_box ul {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.core_content #first_box .details_box ul li:nth-child(2) {
  width: 240px;
}

.core_content #first_box .details_box ul li:nth-child(3) {
  width: 240px;
}

.core_content #first_box .details_box ul li:nth-child(4) {
  width: 240px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.core_content #first_box .details_box ul li img {
  width: 85px;
  height: 120px;
}

.core_content #first_box .details_box ul li p {
  margin: 0;
  padding: 0;
  flex-wrap: wrap-reverse;
  align-items: center;
  font-size: 14px;
  color: #333333;
  padding: 10px;
}

.core_content #first_box .details_box ul li p span {
  font-size: 14px;
  color: #f0343c;
}

.core_content #first_box .choose_seat {
  width: 990px;
  height: 514px;
  border: 1px solid #eaeaea;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.core_content #first_box .choose_seat .choose_seat_box {
  width: 747px;
  height: 514px;
  overflow: hidden;
}

.core_content #first_box .choose_seat .choose_seat_box .ceiling {
  width: 747px;
  height: 40px;
  background-color: #ebebeb;
}

.core_content #first_box .choose_seat .choose_seat_box .screen {
  width: 674px;
  height: 31px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.core_content #first_box .choose_seat .choose_seat_box .screen .screen_text {
  font-size: 14px;
  color: #333333;
  background-color: white;
  position: absolute;
  bottom: -14px;
  left: 48%;
}

.core_content #first_box .choose_seat .choose_seat_box .click_select {
  width: 100%;
  padding: 31px 47px;
}

.core_content #first_box .choose_seat .choose_seat_box .click_select ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.core_content #first_box .choose_seat .choose_seat_box .click_select ul .corridor {
  width: 100%;
  height: 30px;
}

.core_content #first_box .choose_seat .choose_seat_box .click_select ul li {
  width: 700px;
  font-size: 14px;
  color: #b6878f;
  display: flex;
  justify-content: center;
}

.core_content #first_box .choose_seat .choose_seat_box .click_select ul li .switch_picture {
  width: 95%;
  text-align: center;
}

.core_content #first_box .choose_seat .choose_seat_box .click_select ul li .switch_picture img {
  margin: 0px 2.2px;
}

.core_content #first_box .choose_seat .introduce_box {
  width: 241px;
  height: 514px;
  background-color: #ebebeb;
  box-sizing: border-box;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text {
  width: 241px;
  height: 251px;
  overflow: hidden;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text p {
  margin: 0;
  padding-left: 10px;
  height: 38px;
  color: white;
  background-color: #bcbcbc;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text .icon_introduce {
  height: 71px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text .icon_introduce .icon_color {
  margin: 0;
  padding: 0;
  height: 20px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text .icon_introduce .icon_color span {
  font-size: 12px;
  padding: 0 4px;
  color: #333333;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text .horizontal_line {
  width: 241px;
  border: 1px dashed #333333;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text .text_content {
  font-size: 12px;
  color: #333333;
  padding: 6px 9px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text .button_group {
  width: 241px;
  height: 92px;
  padding: 0 21px 0 10px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text .button_group span {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  background-color: #f47920;
  padding: 5px 11px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 {
  width: 241px;
  height: 260px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 p {
  width: 242px;
  background-color: #bcbcbc;
  color: white;
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
  font-size: 14px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box {
  width: 241px;
  padding: 0 10px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box h5 {
  font-size: 12px;
  color: #333333;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box input {
  height: 24px;
  background-color: #ffffff;
  margin-bottom: 10px;
  outline: 0px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box input:nth-child(2) {
  width: 211px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box .ipt_text {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  margin-bottom: 10px;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box .ipt_text input:nth-child(1) {
  width: 100px;
  margin: 0;
  vertical-align: middle;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box .ipt_text img {
  width: 60px;
  height: 24px;
  vertical-align: middle;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box .ipt_text span {
  font-size: 12px;
  color: #333333;
  display: inline-block;
  width: 41px;
  height: 28px;
  vertical-align: middle;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box h3 a {
  padding: 11px 29px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f0002d;
}

.core_content #first_box .choose_seat .introduce_box .introduce_text2 .text2_box h3 a:hover {
  text-decoration: none;
}

.core_content #first_box .use_instructions {
  padding: 32px 0;
}

.core_content #first_box .use_instructions h3 {
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}

.core_content #first_box .use_instructions ol {
  list-style: none;
  padding: 0;
}

.core_content #first_box .use_instructions ol li {
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}

.core_content #second_box {
  width: 990px;
  height: 540px;
  margin: 13px 0;
  justify-content: space-between;
  overflow: hidden;
}

.core_content #second_box .aside_left {
  width: 740px;
  height: 540px;
}

.core_content #second_box .aside_left p {
  height: 15px;
  font-size: 14px;
  color: #777777;
}

.core_content #second_box .aside_left .pay_Method {
  width: 740px;
  height: 501px;
  border: 1px solid #eaeaea;
  padding: 10px;
}

.core_content #second_box .aside_left .pay_Method .img {
  margin-left: 3px;
}

.core_content #second_box .aside_left .pay_Method .members {
  width: 650px;
  height: 143px;
}

.core_content #second_box .aside_left .pay_Method .members ul {
  padding-left: 15px;
}

.core_content #second_box .aside_left .pay_Method .members ul li {
  display: flex;
  align-items: center;
}

.core_content #second_box .aside_left .pay_Method .members ul li span {
  font-size: 13px;
  color: #666666;
  padding: 12px 45px 14px 10px;
  border: 1px solid #ebebeb;
}

.core_content #second_box .aside_left .pay_Method .members ul li span input {
  margin-right: 3px;
  vertical-align: middle;
}

.core_content #second_box .aside_left .pay_Method .members ul li span a {
  font-weight: bold;
  font-size: 13px;
  color: #f0002d;
}

.core_content #second_box .aside_left .pay_Method .payment_button {
  width: 100%;
  padding: 17px;
  padding-bottom: 30px;
  padding-right: 70px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
}

.core_content #second_box .aside_left .pay_Method .payment_button button {
  border: 0;
  width: 105px;
  height: 33px;
  background-color: #e60020;
  color: #fefefe;
  font-size: 14px;
}

.core_content #second_box .aside_left .pay_Method .third_party_pay {
  width: 100%;
  height: 113px;
  display: flex;
  flex-wrap: wrap;
}

.core_content #second_box .aside_left .pay_Method .third_party_pay .Method_pay {
  width: 50%;
  height: 80px;
  padding: 22px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
}

.core_content #second_box .aside_left .pay_Method .third_party_pay .payment_button {
  padding-right: 32px;
}

.core_content #second_box .aside_right {
  width: 240px;
  height: 530px;
  margin-top: 7px;
  box-sizing: border-box;
}

.core_content #second_box .aside_right .countdown_box {
  width: 240px;
  height: 180px;
  box-sizing: border-box;
  border: 10px solid #ebebeb;
  padding: 12px 17px;
}

.core_content #second_box .aside_right .countdown_box span {
  font-size: 12px;
  color: #333333;
}

.core_content #second_box .aside_right .countdown_box #countdown {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-family: ArialMT;
  font-size: 56px;
  line-height: 40px;
  text-align: center;
  color: #e50020;
}

.core_content #second_box .aside_right .attention_things {
  width: 240px;
  height: 350px;
  background-color: #ebebeb;
}

.core_content #second_box .aside_right .attention_things .things_box {
  width: 240px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #ffffff;
  background-color: #bcbcbc;
  padding: 0 10px;
}

.core_content #second_box .aside_right .attention_things .things_text {
  padding: 10px;
}

.core_content #second_box .aside_right .attention_things .things_text p {
  font-size: 12px;
  color: #333333;
  margin: 0;
  line-height: 20px;
}

.btn:focus {
  box-shadow: 0 0 0 0rem white;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0rem white;
}

.modal .modal-dialog {
  max-width: 690px !important;
}

.modal .modal-dialog .modal-content .modal-header {
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
}

.modal .modal-dialog .modal-content .modal-header .fa {
  font-size: 25px;
  color: #a5a5a5;
  margin-right: 10px;
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 19px;
  color: #a5a5a5;
}

.modal .modal-dialog .modal-content .modal-header .close span {
  padding: 0 8px 2px 8px;
  background-color: #c8c8c8;
  color: #ffffff;
  font-size: 20px;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 30px 40px;
}

.modal .modal-dialog .modal-content .modal-body h4 {
  font-size: 18px;
  color: #333333;
}

.modal .modal-dialog .modal-content .modal-body h4 span {
  color: #e60020;
  font-weight: normal;
}

.modal .modal-dialog .modal-content .modal-body p {
  font-size: 14px;
  color: #333333;
  margin: 0;
  padding: 4px 0;
}

.modal .modal-dialog .modal-content .modal-body p span {
  color: #e6002e;
  font-size: 16px;
}

.modal .modal-dialog .modal-content .modal-body p .number {
  color: #333333;
}

.modal .modal-dialog .modal-content .modal-body p .a_table {
  display: inline-block;
}

.modal .modal-dialog .modal-content .modal-body p .a_table .a {
  background-color: #c46667;
  padding: 4px 8px;
  color: #ffffff;
  font-size: 14px;
}

.modal .modal-dialog .modal-content .modal-body p .a_table .a:hover {
  text-decoration: none;
}

.modal .modal-dialog .modal-content .modal-footer {
  text-align: center;
  display: flex;
  height: 80px;
  justify-content: center;
  background-image: repeating-linear-gradient(90deg, #f9f9f9 0px, #f9f9f9 15px, #ffffff 15px, #ffffff 30px);
}

.modal .modal-dialog .modal-content .modal-footer .btn {
  background-color: #e60020;
  border: 0;
}

@keyframes changeCircle {
  0% {
    transform: rotateZ(-45deg);
  }
  70% {
    transform: rotateZ(355deg);
  }
  90% {
    transform: rotateZ(315deg);
  }
  100% {
    transform: rotateZ(315deg);
  }
}

.bigbox {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 2000;
  display: none;
}

.bigbox .container {
  width: 200px;
  height: 200px;
  margin: 0px auto;
  position: relative;
}

.bigbox .container .item {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 50px;
  border: 5px solid transparent;
  border-top: 5px solid red;
  border-right: 5px solid red;
  transform: rotateZ(-45deg);
  animation: changeCircle 3s infinite;
}

.bigbox .container .item1 {
  border-top: 5px solid red;
  border-right: 5px solid red;
  animation-delay: 0.4s;
}

.bigbox .container .item2 {
  width: 80px;
  height: 80px;
  top: 60px;
  left: 60px;
  border-top: 5px solid orange;
  border-right: 5px solid orange;
  animation-delay: 0.3s;
}

.bigbox .container .item3 {
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  border-top: 5px solid yellow;
  border-right: 5px solid yellow;
  animation-delay: 0.2s;
}

.bigbox .container .item4 {
  width: 40px;
  height: 40px;
  top: 80px;
  left: 80px;
  border-top: 5px solid green;
  border-right: 5px solid green;
  animation-delay: 0.1s;
}

.bigbox .container .item5 {
  width: 20px;
  height: 20px;
  top: 90px;
  left: 90px;
  border-top: 5px solid blue;
  border-right: 5px solid blue;
}

.tail {
  width: 100vm;
  height: 201px;
  background-color: #ededed;
  padding: 19px;
}

.tail .box {
  width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.tail .box .businessCard {
  width: 121px;
}

.tail .box .businessCard .icon span {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  vertical-align: bottom;
}

.tail .box .businessCard .box_text p {
  margin: 0;
  padding: 0;
}

.tail .box .businessCard .box_text p a {
  font-size: 12px;
  color: #666666;
}

footer {
  width: 100vm;
  height: 93px;
  background-color: #b9b9b9;
  text-align: center;
  padding: 15px;
}

footer p {
  margin: 0;
  padding: 3px;
}
