* {
  margin: 0px;
}

.top {
  width: 100%;
  height: 28px;
  background-color: #fafafa;
}

.top .content {
  width: 990px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top .content > a {
  display: inline-block;
  width: 18px;
  height: 100%;
  padding: 1px 0px 0px;
  margin: 0px 7px;
}

.top .content ul {
  padding: 0px;
  list-style: none;
  display: flex;
  font-size: 12px;
  color: #666666;
  align-items: center;
  margin: 0px;
}

.top .content ul .item {
  height: 12px;
  padding: 0px 10px;
  border-right: 1px solid #666666;
  position: relative;
}

.top .content ul .item .quit {
  display: block;
  height: 25px;
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  bottom: -15px;
  right: 10px;
  padding-top: 15px;
  display: none;
}

.top .content ul .item:first-child:hover .quit {
  display: block;
}

.top .content ul .item .quit:hover {
  display: block;
  cursor: pointer;
  color: #333333;
  font-weight: bold;
}

.top .content ul .item:last-child {
  border: 0px;
}

.top .content ul .item a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #666666;
  margin-top: -3px;
}

.top .content ul .item span {
  display: block;
  margin-top: -3px;
}

.logo {
  width: 100%;
  height: 90px;
}

.logo .content {
  width: 990px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo .content .logo_icon {
  width: 215px;
  height: 50px;
  background-image: url(../images/main/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px 10px;
}

.logo .content .city {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.logo .content .city p {
  font-size: 22px;
  color: #000000;
  margin: 0px;
}

.logo .content .city span {
  font-size: 12px;
  color: #666666;
}

nav {
  width: 100%;
  height: 40px;
  background-color: #7a7777;
  border-top: 2px solid #414141;
}

nav .content {
  width: 990px;
  height: 38px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .content .nav {
  height: 38px;
  padding: 0px;
  list-style: none;
  display: flex;
}

nav .content .nav .item {
  height: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}

nav .content .nav .item:hover {
  background-color: #e60020;
}

nav .content .nav .item a {
  text-decoration: none;
  color: #f8e8e8;
}

nav .content .input_search {
  width: 240px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #3d3d3d;
  display: flex;
}

nav .content .input_search .ipt_search {
  height: 100%;
  border: 0px;
  outline: 0px;
  padding: 0px;
  vertical-align: middle;
  flex-grow: 1;
  padding-left: 4px;
}

nav .content .input_search .btn_search {
  height: 100%;
  width: 34px;
  border: 0px;
  vertical-align: middle;
  background-image: url(../images/main/icon3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #4b4b4b;
  outline: 0px;
}

main {
  width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

main .main-left {
  width: 720px;
}

main .main-left > p {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  background-color: #eeeeee;
  font-size: 12px;
  line-height: 35px;
  color: #666666;
}

main .main-left > p span {
  color: #e60020;
}

main .main-left .body-item {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  margin-bottom: 23px;
}

main .main-left .body-item .left {
  padding: 5px;
  width: 204px;
  height: 154px;
  border: 1px solid #e2e2e2;
}

main .main-left .body-item .left img {
  width: 196px;
  height: 146px;
}

main .main-left .body-item .right {
  flex-grow: 1;
  padding-left: 16px;
}

main .main-left .body-item .right .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px dashed #d1d1d1;
}

main .main-left .body-item .right .title p {
  font-size: 20px;
  color: #000000;
  margin: 0px;
}

main .main-left .body-item .right .title button {
  width: 106px;
  height: 33px;
  padding-left: 40px;
  background-color: #e50020;
  font-size: 12px;
  color: #ffffff;
  line-height: 33px;
  border: 0px;
  outline: 0px;
  background-image: url(../images/cinema/icon6.png);
  background-repeat: no-repeat;
  background-position: 15px 50%;
}

main .main-left .body-item .right .content p {
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin: 12px 0px;
}

main .main-left .body-item .right .content p::first-letter {
  letter-spacing: 45px;
}

main .main-left .body-item .right .content p i {
  font-style: normal;
  color: #666666;
}

main .main-left .body-item .right .content p:last-child {
  line-height: 25px;
}

main .main-left .body-item .right .content p:last-child::first-letter {
  letter-spacing: 2px;
}

main .main-left .changePage {
  padding-left: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 40px;
}

main .main-left .changePage .item {
  display: inline-block;
  text-decoration: none;
  color: #666666;
  margin-right: 10px;
}

main .main-left .changePage .item:hover {
  background-color: #e80023;
  color: #ffffff;
}

main .main-left .changePage .item1,
main .main-left .changePage .item8 {
  width: 42px;
  height: 20px;
  border: 1px solid #d1d1d1;
  text-align: center;
}

main .main-left .changePage .item2,
main .main-left .changePage .item7 {
  width: 62px;
  height: 20px;
  border: 1px solid #d1d1d1;
  background-image: url(../images/cinema/left.png);
  background-repeat: no-repeat;
  background-position: 15% 50%;
  padding-left: 18px;
}

main .main-left .changePage .item7 {
  background-image: url(../images/cinema/right.png);
  padding-left: 5px;
  background-position: 85% 50%;
}

main .main-left .changePage .item3,
main .main-left .changePage .item4,
main .main-left .changePage .item5,
main .main-left .changePage .item6 {
  width: 25px;
  height: 20px;
  border: 1px solid #d1d1d1;
  text-align: center;
}

main .main-right {
  width: 250px;
}

main .main-right .quick-ticket {
  background-color: #e9e9e9;
  padding: 0px 18px;
  padding-bottom: 22px;
}

main .main-right .quick-ticket .line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .main-right .quick-ticket .line1 .text p {
  font-size: 20px;
  line-height: 16px;
  color: #333333;
  font-weight: bold;
  margin: 0px;
}

main .main-right .quick-ticket .line1 .text span {
  font-size: 12px;
  line-height: 16px;
  color: #7b7b7b;
}

main .main-right .quick-ticket .line1 .icon {
  width: 60px;
  height: 60px;
  background-image: url(../images/cinema/icon1.png);
  background-repeat: no-repeat;
  background-position: center center;
}

main .main-right .quick-ticket .item {
  position: relative;
  margin: 8px 0px;
}

main .main-right .quick-ticket .item select {
  width: 100%;
  height: 36px;
  font-size: 14px;
  line-height: 16px;
  color: #696969;
  border: 0px;
  outline: 0px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../images/cinema/icon2.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  padding-left: 12px;
}

main .main-right .quick-ticket .item .icon {
  width: 2px;
  height: 23px;
  position: absolute;
  border-right: 1px dotted #6e6e6e;
  top: 6px;
  right: 40px;
}

main .main-right .quick-ticket .line3 select {
  background-image: url(../images/cinema/icon3.png);
}

main .main-right .quick-ticket .line4 select {
  background-image: url(../images/cinema/icon4.png);
}

main .main-right .quick-ticket .line5 select {
  background-image: url(../images/cinema/icon5.png);
}

main .main-right .quick-ticket a {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  background-color: #e50020;
  text-align: center;
}

main .main-right .cinema-activity {
  margin-top: 12px;
  padding: 10px;
  background-color: #f3f3f3;
}

main .main-right .cinema-activity .title {
  height: 27px;
  display: flex;
  justify-content: space-between;
}

main .main-right .cinema-activity .title .left {
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  color: #f0343c;
  border-bottom: 3px solid #f0343c;
  padding-bottom: 10px;
}

main .main-right .cinema-activity .title .right {
  flex-grow: 1;
  border-bottom: 3px solid #999999;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

main .main-right .cinema-activity .title .right a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

main .main-right .cinema-activity .item {
  display: flex;
  padding-bottom: 15px;
  margin-top: 10px;
  border-bottom: 1px dashed #c0c0c0;
}

main .main-right .cinema-activity .item:last-child {
  border: 0px;
}

main .main-right .cinema-activity .item .left {
  width: 100px;
  height: 140px;
}

main .main-right .cinema-activity .item .right {
  flex-grow: 1;
  padding-left: 10px;
}

main .main-right .cinema-activity .item .right p {
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin: 10px 0px;
}

main .main-right .cinema-activity .item .right p:first-child {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-top: 7px;
}

main .main-right .cinema-activity .item .right a {
  display: block;
  width: 90px;
  height: 26px;
  background-color: #a4a4a4;
  font-size: 12px;
  line-height: 26px;
  color: #ffffff;
  background-image: url(../images/cinema/icon7.png);
  background-repeat: no-repeat;
  background-position: 15% 50%;
  padding-left: 40px;
  text-decoration: none;
  margin-top: 12px;
}

footer {
  width: 100%;
  height: 300px;
}

footer .content1 {
  width: 100%;
  background-color: #ededed;
}

footer .content1 .foot-body {
  width: 990px;
  margin: 0 auto;
  height: 200px;
  padding-top: 18px;
}

footer .content1 .foot-body ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

footer .content1 .foot-body ul .item .title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

footer .content1 .foot-body ul .item .title .icon {
  width: 35px;
  height: 35px;
  background-image: url(../images/main/icon12.png);
  background-repeat: no-repeat;
  background-position: center center;
}

footer .content1 .foot-body ul .item .title .icon2 {
  background-image: url(../images/main/icon13.png);
}

footer .content1 .foot-body ul .item .title .icon3 {
  background-image: url(../images/main/icon14.png);
}

footer .content1 .foot-body ul .item .title .icon4 {
  background-image: url(../images/main/icon15.png);
}

footer .content1 .foot-body ul .item .title p {
  font-size: 16px;
  line-height: 16px;
  color: #333333;
  margin: 0px;
  font-weight: bold;
  margin-left: 10px;
}

footer .content1 .foot-body ul .item a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin: 8px 0px;
}

footer .content2 {
  width: 100%;
  background-color: #b9b9b9;
}

footer .content2 .foot-bottom {
  width: 990px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .content2 .foot-bottom p,
footer .content2 .foot-bottom span {
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  margin: 0px;
  margin-bottom: 5px;
}
