* {
  margin: 0px;
}

.top {
  width: 100%;
  height: 28px;
  background-color: #fafafa;
}

.top .content {
  width: 990px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top .content > a {
  display: inline-block;
  width: 18px;
  height: 100%;
  padding: 1px 0px 0px;
  margin: 0px 7px;
}

.top .content ul {
  padding: 0px;
  list-style: none;
  display: flex;
  font-size: 12px;
  color: #666666;
  align-items: center;
  margin: 0px;
}

.top .content ul .item {
  height: 12px;
  padding: 0px 10px;
  border-right: 1px solid #666666;
  position: relative;
}

.top .content ul .item .quit {
  display: block;
  height: 25px;
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  bottom: -15px;
  right: 10px;
  padding-top: 15px;
  display: none;
}

.top .content ul .item:first-child:hover .quit {
  display: block;
}

.top .content ul .item .quit:hover {
  display: block;
  cursor: pointer;
  color: #333333;
  font-weight: bold;
}

.top .content ul .item:last-child {
  border: 0px;
}

.top .content ul .item a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #666666;
  margin-top: -3px;
}

.top .content ul .item span {
  display: block;
  margin-top: -3px;
}

.logo {
  width: 100%;
  height: 90px;
}

.logo .content {
  width: 990px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo .content .logo_icon {
  width: 215px;
  height: 50px;
  background-image: url(../images/main/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px 10px;
}

.logo .content .city {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.logo .content .city p {
  font-size: 22px;
  color: #000000;
  margin: 0px;
}

.logo .content .city span {
  font-size: 12px;
  color: #666666;
}

nav {
  width: 100%;
  height: 40px;
  background-color: #7a7777;
  border-top: 2px solid #414141;
}

nav .content {
  width: 990px;
  height: 38px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .content .nav {
  height: 38px;
  padding: 0px;
  list-style: none;
  display: flex;
}

nav .content .nav .item {
  height: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}

nav .content .nav .item:hover {
  background-color: #e60020;
}

nav .content .nav .item a {
  text-decoration: none;
  color: #f8e8e8;
}

nav .content .input_search {
  width: 240px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #3d3d3d;
  display: flex;
}

nav .content .input_search .ipt_search {
  height: 100%;
  border: 0px;
  outline: 0px;
  padding: 0px;
  vertical-align: middle;
  flex-grow: 1;
  padding-left: 4px;
}

nav .content .input_search .btn_search {
  height: 100%;
  width: 34px;
  border: 0px;
  vertical-align: middle;
  background-image: url(../images/main/icon3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #4b4b4b;
  outline: 0px;
}

main {
  width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

main .main-left {
  width: 720px;
}

main .main-left > p {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  background-color: #eeeeee;
  font-size: 12px;
  line-height: 35px;
  color: #666666;
}

main .main-left > p span {
  color: #e60020;
}

main .main-left .body-item {
  width: 100%;
  height: 290px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

main .main-left .body-item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px dashed #d1d1d1;
  margin-bottom: 12px;
}

main .main-left .body-item .title p {
  font-size: 20px;
  color: #000000;
  margin: 0px;
}

main .main-left .body-item .content {
  display: flex;
}

main .main-left .body-item .content .left {
  width: 170px;
  height: 240px;
}

main .main-left .body-item .content .left img {
  width: 170px;
  height: 240px;
}

main .main-left .body-item .content .right {
  height: 240px;
  flex-grow: 1;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

main .main-left .body-item .content .right .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .main-left .body-item .content .right .content .text p {
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin: 12px 0px;
}

main .main-left .body-item .content .right .content .text p::first-letter {
  letter-spacing: 45px;
}

main .main-left .body-item .content .right .content .text p i {
  font-style: normal;
  color: #666666;
}

main .main-left .body-item .content .right .content .text p:nth-child(2)::first-letter, main .main-left .body-item .content .right .content .text p:nth-child(3)::first-letter, main .main-left .body-item .content .right .content .text p:nth-child(6)::first-letter {
  letter-spacing: 2px;
}

main .main-left .body-item .content .right .content button {
  width: 106px;
  height: 33px;
  padding-left: 40px;
  background-color: #e50020;
  font-size: 12px;
  color: #ffffff;
  line-height: 33px;
  border: 0px;
  outline: 0px;
  background-image: url(../images/cinema/icon6.png);
  background-repeat: no-repeat;
  background-position: 15px 50%;
}

main .main-left .nav-page {
  width: 100%;
}

main .main-left .nav-page .nav-title {
  border-bottom: 3px solid #f0343c;
  margin-bottom: 35px;
}

main .main-left .nav-page .nav-title ul {
  border: 0px;
}

main .main-left .nav-page .nav-title a {
  width: 116px;
  height: 35px;
  background-color: #eeeeee;
  font-size: 15px;
  color: #333333;
  line-height: 35px;
  padding: 0px;
  text-align: center;
  border-radius: 0px;
}

main .main-left .nav-page .nav-title .active {
  background-color: #f0343c;
  color: #ffffff;
  border: 0px;
}

main .main-left .nav-page .nav-content .tab-pane .content {
  width: 100%;
}

main .main-left .nav-page .nav-content .tab-pane .content .introduction {
  padding: 0px 18px 30px;
}

main .main-left .nav-page .nav-content .tab-pane .content .introduction p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 15px;
  font-weight: bold;
}

main .main-left .nav-page .nav-content .tab-pane .content .introduction div {
  margin: 20px 0px 15px;
  font-size: 12px;
  color: #666666;
  height: 88px;
  overflow: hidden;
}

main .main-left .nav-page .nav-content .tab-pane .content .introduction img {
  width: 684px;
  height: 214px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments {
  width: 100%;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .title {
  width: 100%;
  height: 50px;
  background-color: #eeeeee;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  line-height: 50px;
  padding-left: 10px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text {
  width: 100%;
  margin-top: 20px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input {
  width: 100%;
  display: flex;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .icon {
  width: 80px;
  height: 80px;
  background-image: url(../images/moviedetails/icon1.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 18px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text {
  flex-grow: 1;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .input {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  border: 2px solid #b40921;
  display: flex;
  flex-direction: column;
  position: relative;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .input .star {
  width: 100%;
  display: flex;
  align-items: center;
  height: 33px;
  background-color: #ffebee;
  padding-left: 10px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .input .star p {
  margin: 0px;
  font-size: 12px;
  color: #333333;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .input .star p span {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #e60020;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .input .star .star-num {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  margin: 0px 8px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .input .star .star-num .item {
  width: 20px;
  height: 20px;
  background-image: url(../images/moviedetails/grayStar.png);
  background-repeat: no-repeat;
  background-position: center center;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .input .star .star-num .goldStar {
  background-image: url(../images/moviedetails/goldStar.png);
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .input textarea {
  flex-grow: 1;
  width: 100%;
  outline: 0px;
  border: 0px;
  z-index: 1;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .input::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #b40921;
  transform: rotateZ(45deg);
  position: absolute;
  top: 35px;
  left: -8px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .tosubmit {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .tosubmit .icon {
  width: 22px;
  height: 22px;
  background-image: url(../images/moviedetails/icon3.png);
  background-repeat: no-repeat;
  background-position: center center;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .tosubmit .btn {
  height: 100%;
  padding: 0px;
  border: 0px;
  display: flex;
  align-items: center;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .tosubmit .btn p {
  font-size: 12px;
  color: #666666;
  margin: 0px;
  margin-right: 10px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .tosubmit .btn p span {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .text-input .text .tosubmit .btn button {
  width: 105px;
  height: 100%;
  font-size: 12px;
  color: #f0ced3;
  background-color: #b40921;
  border: 0px;
  outline: 0px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments {
  width: 100%;
  padding-left: 100px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item {
  width: 100%;
  display: flex;
  height: 110px;
  padding-top: 25px;
  border-top: 1px solid #f2f2f2;
  margin-top: 10px;
  margin-bottom: 15px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .icon {
  width: 60px;
  height: 60px;
  background-image: url(../images/moviedetails/icon2.png);
  background-repeat: no-repeat;
  background-position: center center;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context {
  width: 555px;
  margin-left: 10px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line1 {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line1 p {
  margin: 0px;
  font-size: 14px;
  color: #e60020;
  font-weight: bold;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line1 .star {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 22px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line1 .star p {
  margin: 0px;
  font-size: 12px;
  color: #333333;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line1 .star p span {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #e60020;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line1 .star .date {
  font-size: 13px;
  color: #666666;
  margin-left: 8px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line1 .star .star-num {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  margin: 0px 8px;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line1 .star .star-num .item {
  width: 20px;
  height: 20px;
  background-image: url(../images/moviedetails/grayStar.png);
  background-repeat: no-repeat;
  background-position: center center;
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line1 .star .star-num .goldStar {
  background-image: url(../images/moviedetails/goldStar.png);
}

main .main-left .nav-page .nav-content .tab-pane .content .comments .com-text .show-comments .com-item .context .line2 {
  height: 50px;
  overflow: hidden;
  font-size: 12px;
  color: #666666;
  margin-top: 12px;
}

main .main-left .nav-page .nav-content .trailer-content {
  width: 100%;
}

main .main-left .nav-page .nav-content .trailer-content p {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px;
  color: #000000;
}

main .main-left .nav-page .nav-content .trailer-content .trailer {
  width: 100%;
  height: 300px;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid #d1d1d1;
}

main .main-left .nav-page .nav-content .trailer-content .trailer video {
  width: 100%;
  height: 100%;
}

main .main-left .changePage {
  padding-left: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 40px;
}

main .main-left .changePage .item {
  display: inline-block;
  text-decoration: none;
  color: #666666;
  margin-right: 10px;
}

main .main-left .changePage .item:hover {
  background-color: #e80023;
  color: #ffffff;
}

main .main-left .changePage .item1,
main .main-left .changePage .item8 {
  width: 42px;
  height: 20px;
  border: 1px solid #d1d1d1;
  text-align: center;
}

main .main-left .changePage .item2,
main .main-left .changePage .item7 {
  width: 62px;
  height: 20px;
  border: 1px solid #d1d1d1;
  background-image: url(../images/cinema/left.png);
  background-repeat: no-repeat;
  background-position: 15% 50%;
  padding-left: 18px;
}

main .main-left .changePage .item7 {
  background-image: url(../images/cinema/right.png);
  padding-left: 5px;
  background-position: 85% 50%;
}

main .main-left .changePage .item3,
main .main-left .changePage .item4,
main .main-left .changePage .item5,
main .main-left .changePage .item6 {
  width: 25px;
  height: 20px;
  border: 1px solid #d1d1d1;
  text-align: center;
}

main .main-right {
  width: 250px;
}

main .main-right .quick-ticket {
  background-color: #e9e9e9;
  padding: 0px 18px;
  padding-bottom: 22px;
}

main .main-right .quick-ticket .line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .main-right .quick-ticket .line1 .text p {
  font-size: 20px;
  line-height: 16px;
  color: #333333;
  font-weight: bold;
  margin: 0px;
}

main .main-right .quick-ticket .line1 .text span {
  font-size: 12px;
  line-height: 16px;
  color: #7b7b7b;
}

main .main-right .quick-ticket .line1 .icon {
  width: 60px;
  height: 60px;
  background-image: url(../images/cinema/icon1.png);
  background-repeat: no-repeat;
  background-position: center center;
}

main .main-right .quick-ticket .item {
  position: relative;
  margin: 8px 0px;
}

main .main-right .quick-ticket .item select {
  width: 100%;
  height: 36px;
  font-size: 14px;
  line-height: 16px;
  color: #696969;
  border: 0px;
  outline: 0px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../images/cinema/icon2.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  padding-left: 12px;
}

main .main-right .quick-ticket .item .icon {
  width: 2px;
  height: 23px;
  position: absolute;
  border-right: 1px dotted #6e6e6e;
  top: 6px;
  right: 40px;
}

main .main-right .quick-ticket .line3 select {
  background-image: url(../images/cinema/icon3.png);
}

main .main-right .quick-ticket .line4 select {
  background-image: url(../images/cinema/icon4.png);
}

main .main-right .quick-ticket .line5 select {
  background-image: url(../images/cinema/icon5.png);
}

main .main-right .quick-ticket a {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  background-color: #e50020;
  text-align: center;
}

main .main-right .cinema-activity {
  margin-top: 12px;
  padding: 10px;
  background-color: #f3f3f3;
}

main .main-right .cinema-activity .title {
  height: 27px;
  display: flex;
  justify-content: space-between;
}

main .main-right .cinema-activity .title .left {
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  color: #f0343c;
  border-bottom: 3px solid #f0343c;
  padding-bottom: 10px;
}

main .main-right .cinema-activity .title .right {
  flex-grow: 1;
  border-bottom: 3px solid #999999;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

main .main-right .cinema-activity .title .right a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

main .main-right .cinema-activity .item {
  display: flex;
  padding-bottom: 15px;
  margin-top: 10px;
  border-bottom: 1px dashed #c0c0c0;
}

main .main-right .cinema-activity .item:last-child {
  border: 0px;
}

main .main-right .cinema-activity .item .left {
  width: 100px;
  height: 140px;
}

main .main-right .cinema-activity .item .right {
  flex-grow: 1;
  padding-left: 10px;
}

main .main-right .cinema-activity .item .right p {
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin: 10px 0px;
}

main .main-right .cinema-activity .item .right p:first-child {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-top: 7px;
}

main .main-right .cinema-activity .item .right a {
  display: block;
  width: 90px;
  height: 26px;
  background-color: #a4a4a4;
  font-size: 12px;
  line-height: 26px;
  color: #ffffff;
  background-image: url(../images/cinema/icon7.png);
  background-repeat: no-repeat;
  background-position: 15% 50%;
  padding-left: 40px;
  text-decoration: none;
  margin-top: 12px;
}

footer {
  width: 100%;
  height: 300px;
}

footer .content1 {
  width: 100%;
  background-color: #ededed;
}

footer .content1 .foot-body {
  width: 990px;
  margin: 0 auto;
  height: 200px;
  padding-top: 18px;
}

footer .content1 .foot-body ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

footer .content1 .foot-body ul .item .title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

footer .content1 .foot-body ul .item .title .icon {
  width: 35px;
  height: 35px;
  background-image: url(../images/main/icon12.png);
  background-repeat: no-repeat;
  background-position: center center;
}

footer .content1 .foot-body ul .item .title .icon2 {
  background-image: url(../images/main/icon13.png);
}

footer .content1 .foot-body ul .item .title .icon3 {
  background-image: url(../images/main/icon14.png);
}

footer .content1 .foot-body ul .item .title .icon4 {
  background-image: url(../images/main/icon15.png);
}

footer .content1 .foot-body ul .item .title p {
  font-size: 16px;
  line-height: 16px;
  color: #333333;
  margin: 0px;
  font-weight: bold;
  margin-left: 10px;
}

footer .content1 .foot-body ul .item a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin: 8px 0px;
}

footer .content2 {
  width: 100%;
  background-color: #b9b9b9;
}

footer .content2 .foot-bottom {
  width: 990px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .content2 .foot-bottom p,
footer .content2 .foot-bottom span {
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  margin: 0px;
  margin-bottom: 5px;
}
