body{
    margin: 0px;
}
.bigbox{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    z-index: 2000;
    .container{
        width: 300px;
        height: 300px;
        margin: 100px auto;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        .box{
            width: 200px;
            height: 200px;
            // border: 1px solid blue;
            position: relative;
            transform-style: preserve-3d;
            .item{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                animation: changey 2s linear infinite;
            }
            .item1{
                animation-delay: 0.6s;
            }
            .item2{
                width: 180px;
                height: 180px;
                top: 10px;
                left: 10px;
                border: 5px solid orange;
                animation: changex 2s linear 0.5s infinite;
            }
            .item3{
                width: 160px;
                height: 160px;
                top: 20px;
                left: 20px;
                border: 5px solid yellow;
                animation-delay: 0.4s;
            }
            .item4{
                width: 140px;
                height: 140px;
                top: 30px;
                left: 30px;
                border: 5px solid green;
                animation: changex 2s linear 0.3s infinite;
            }
            .item5{
                width: 120px;
                height: 120px;
                top: 40px;
                left: 40px;
                border: 5px solid blue;
                animation-delay: 0.2s;
            }
            .item6{
                width: 100px;
                height: 100px;
                top: 50px;
                left: 50px;
                border: 5px solid indigo;
                animation: changex 2s linear 0.1s infinite;
            }
            .item7{
                width: 80px;
                height: 80px;
                top: 60px;
                left: 60px;
                border: 5px solid violet;
            }
            @keyframes changey {
                0%{
                    transform: rotateY(0deg);
                }
                80%{
                    transform: rotateY(360deg);
                }
                100%{
                    transform: rotateY(360deg);
                }
            }
            @keyframes changex {
                0%{
                    transform: rotateX(0deg);
                }
                80%{
                    transform: rotateX(360deg);
                }
                100%{
                    transform: rotateX(360deg);
                }
            }
        }
    }
    display: none;
}
